<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="emp.project.softwareengineerproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">

        <activity android:name=".View.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.InformationActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.SalesView.SalesViewTransactionView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.SalesView.SalesAddActivityView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.NotificationView.NotificationsActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.UsersView.UsersAddActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.InventoryView.InventorySearchItemView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.InventoryView.InventoryUpdateView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.OrdersView.OrdersActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.UsersView.UsersActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.ReportsView.ReportsActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.SalesView.SalesActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.InventoryView.InventoryActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.MainMenuActivityView"
            android:launchMode="singleTask" />
        <activity
            android:name=".View.LoginActivityView"
            android:launchMode="singleTask" />
    </application>

</manifest>